alias sl='sudo systemctl suspend'
alias dr='docker run -it --rm'
alias g='git'
alias l='ls -lhL'
alias la='ls -A'
alias ll='ls -lh'
alias m='less'
alias md='cat /proc/mdstat'
alias more='less'
alias p='pushd'
alias pe='ps auxw'
alias q='popd'
alias root='sudo -i'
alias rs='rsync -aHSPv --del'
alias s='sudo -E'
alias sc='screen -DRR'
alias ss='sudo systemctl'
alias y=yay
alias yf='y -Ss'
alias yq='y -Q'
alias yr='y -Rsnu'
alias ys='y -S'
alias yu='y -Suy'
alias j=jobs
alias vi=vim
alias hlr='hsdn list reservations'
alias hld='hsdn list devices'
alias hmr='hsdn make-reservation'
