alias sl='sudo systemctl suspend'
alias dr='docker run -it --rm'
alias fe='ftq -e -f'
alias ff='ftq -f'
alias g='git'
alias gs='gnome-start'
alias l='ls -lhL'
alias la='ls -A'
alias ll='ls -lh'
alias ls='ls --color=auto'
alias m='less'
alias md='cat /proc/mdstat'
alias mdpause='sudo sh -c "echo 1 > /sys/block/md0/md/sync_speed_max"'
alias mdresume='sudo sh -c "echo 200000 > /sys/block/md0/md/sync_speed_max"'
alias mdsp='sudo sh -c "echo 1000 >/proc/sys/dev/raid/speed_limit_max"'
alias mdsr='sudo sh -c "echo 500000 >/proc/sys/dev/raid/speed_limit_max"'
alias more='less'
alias p='pushd'
alias pe='ps auxw'
alias q='popd'
alias root='sudo -i'
alias rs='rsync -aHSPv --del'
alias s='sudo -E'
alias sc='screen -DRR'
alias ss='sudo systemctl'
alias tn=trizen
alias tnf='tn -Ss'
alias tnq='tn -Q'
alias tnr='tn -Rsncu'
alias tns='tn -S'
alias tnu='tn -Suy'
