*
!.cwmrc
!.Xresources
!.aliases
!.bash_logout
!.bashrc
!.bookmarks
!.bspwmrc
!.config/polybar/config
!.config/pip/pip.conf
!.config/sway/config
!.config/termite/config
!.config/vifm/vifmrc
!.emacs.d/init.el
!.emacs.d/site-lisp/auto-complete.el
!.gitignore
!.gvimrc
!.i3/config
!.i3status.conf
!.profile
!.screenrc
!.sxhkdrc
!.toprc
!.vimrc
!.xinit-bspwm
!.xinitrc
!.xserverrc
!bin/audio-down
!bin/audio-mute
!bin/audio-unmute
!bin/audio-up
!bin/bspwm/bspwm-event-loop
!bin/bspwm/external_rules
!bin/bspwm/kbd-layout-toggle
!bin/bspwm/panel
!bin/bspwm/panel_bar
!bin/bspwm/panel_colors
!bin/bspwm/slockwrapper
!bin/bspwm/toggle-pointer_follows_focus
!bin/i3control
!bin/i3lockwrapper
!bin/i3mousefocus
!bin/slockwrapper
