.bookmarks
.bash_history
.cache
.*_history
.password-store
.erlang.cookie
.lesshst
.*.log
.CloudStation
.ICEauthority
.SoulseekQt
.Xauthority
.adobe
.ansible
.config
.cups
.dbus
.dmrc
.docker
.dvdcss
.eclipse
.emacs.d
.esd_auth
.fontconfig
.fts
.gconf
.gnome
.gnome2
.gnupg
.gradle
.gtk-bookmarks
.gtkrc-2.0
.icons
.idlerc
.ipython
.irssi
.java
.jriver
.junique
.jupyter
.kchmviewer
.kde
.kodi
.lein
.liclipse
.local
.m2
.macromedia
.matlab
.mozilla
.mplayer
.mtpaint
.nbi
.netbeans-derby
.netbeans
.nv
.nvidia-settings-rc
.octave_hist
.oracle_jre_usage
.p2
.pki
.quodlibet
.rnd
.sane
.ssh
.steam
.steampath
.steampid
.subversion
.sudo_as_admin_successful
.swt
.thunderbird
.tooling
.tor-browser
.uuid
.vim
.viminfo
.vmware
.wget-hsts
.wine
.xsession-errors
.*.old
Calibre Library
CloudStation
Desktop
Documents
Downloads
Music
NetBeansProjects
Pictures
Steam
Videos
VirtualBox VMs
ansible
bin
eclipse-workspace
eclipse
home-mars
home-sol
plm
src
tex
tmp
vmware
CA
dead.letter
go
run
.conan
.emacs.d/bookmarks
.emacs.d/session.*
.*.lock
.kde4
.npm
.*-cookie
.recently-used*
.thumbnails
fontconfig
.CLion2017.3
CLionProjects
.pgpass
.vifm-Trash
